$basic:108;
.activity-banner{
    width:100%;
    height:304rem/$basic;
    background-size:100%  304rem/$basic!important;
    overflow: hidden;
    color:#fff;
    .activity-title{
        height:140rem/$basic;
        width:770rem/$basic;
        margin:40rem/$basic auto 0 auto;
        display: table;
        h3{
            margin:0;
            padding:0;
            line-height: 1.5;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size:50rem/$basic;
            span{
                display: inline-block;
                text-align: left;
            }
        }
    }

    .time{
        font-size:35rem/$basic;
        text-align: center;
        margin:0;
        line-height: 1.5
    }
    .btn{
        display: block;
        background: url(../img/act-btn.png) no-repeat center;
        background-size:164rem/$basic 58rem/$basic;
        width:164rem/$basic;
        height:58rem/$basic;
        margin:0 auto;
        
    }
}
.activity-list{
    width:100%;
    box-sizing: border-box;
    padding:0 34rem/$basic;
    ul{
        margin:0;
        padding:0;
        li{
            position: relative;
            height: 213rem/$basic;
            padding:30rem/$basic 0;
            width:100%;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height:1px;
                left:0;
                bottom:0;
                background-color:#c8c8c8;
                -webkit-transform: scale(1,.5);
                transform: scale(1,.5);
                -webkit-transform-origin: center top;
                transform-origin: center top
            }
            a{
                display: block;
                width:100%;
                height:100%;
                overflow: hidden;
            }
            .top{
                position: absolute;
                top:30rem/$basic;
                left:0;
                display: block;
                width:146rem/$basic;
                height: 147rem/$basic;
                background: url(../img/top.png) no-repeat left top;
                background-size:146rem/$basic 147rem/$basic;
            }
            .img{
                border-radius: 5px;
                overflow: hidden;
                width:342rem/$basic;
                height: 213rem/$basic;
                img{
                    width:342rem/$basic;
                    // height:213rem/$basic;
                    height:auto;
                    border-radius: 5px;
                }
                

            }
            .list-content{
                width:625rem/$basic;
                margin-left:35rem/$basic;
                height:213rem/$basic;
                h4{
                    margin:0;
                    padding:0;
                    height:110rem/$basic;
                    line-height: 1.5;
                    font-size:42rem/$basic;
                    color:#323232;
                    font-weight: normal;
                    margin-bottom:10rem/$basic;
                }
                .list-time,.list-author{
                    color:#969696;
                    font-size:32rem/$basic;
                    line-height: 1.5
                }
            }
        }
        
    }
}
.right-btns{
    position: fixed;
    z-index: 99;
    right:0;
    bottom:0;
    width:114rem/$basic;
    .btn-show{
        width:114rem/$basic;
        height:116rem/$basic;
        display: block;
        background:url(../img/btn-show.png) no-repeat center;
        background-size:114rem/$basic 116rem/$basic;
    }
    .btns-list a{
        display: block;
        width:120rem/$basic;
        height: 120rem/$basic;
        position: fixed;
        z-index: 99;
    }
    .btns-list{
        display: none;
        .btn-pub{
            background:url(../img/pub-icon.png) no-repeat center;
            background-size:120rem/$basic 120rem/$basic;
            right:22rem/$basic;
            bottom:236rem/$basic;
        }
        .btn-my{
            background:url(../img/my-icon.png) no-repeat center;
            background-size:120rem/$basic 120rem/$basic;
            right:157rem/$basic;
            bottom:159rem/$basic;
        }
        .btn-rank{
            background:url(../img/rank-icon.png) no-repeat center;
            background-size:120rem/$basic 120rem/$basic;
            right:235rem/$basic;
            bottom:20rem/$basic;
        }
    }
}

.handle-icon{
    background: url(../img/handle-icon.png) no-repeat;
    background-size:270rem/$basic 1080rem/$basic;
}
.user-handle{
    span{
        margin-left:70rem/$basic;
        height:55rem/$basic;
        padding-left:60rem/$basic;
        display: inline-block;
    }
    .zan{
        background-position:0 -118rem/$basic ;
    }
    .zaned{
        background-position:0 0 ;
       
    }
    .comment{
        background-position:0 -248rem/$basic ;
        
    }
    .transmit{
        background-position:0 -412rem/$basic ; 
    }
}
.detail-tit{
    margin:0;
    width:100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#323232;
    font-size:50rem/$basic;
    line-height: 1.5;
    margin-top:30rem/$basic;
    font-weight: normal;
}
.detail-author{
    margin:0;
    width:100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#969696;
    font-size:36rem/$basic;
    line-height: 1.5;
    margin-top:10rem/$basic;
    font-weight: normal;
}
.detail-txt{
    margin-top:20rem/$basic;
    text-align: left;
    line-height: 1.5;
    color:#505050;
    font-size:40rem/$basic;
    word-wrap: break-word;
    word-break: break-all;
}
// 帖子详情
.detail-wrapper{
    width:94%;
    margin:0 auto;
    .detail-author{
        text-align: center;
    }
    .detail-tit{
        text-align: center;
    }
    .detail-content{
        margin-top:20rem/$basic;
        .detail-video{
            width:100%;
            video{
                width:100%;
                height:auto;
            }
        }
    }
    .add-comment{
        margin-top:100rem/$basic;
        .comment-textarea{
            border:none;
            outline: none;
            -webkit-appearance:none;
            border:1px solid #c8c8c8;
            border-radius: 5px;
            width:100%;
            height:280rem/$basic;
            margin:0;
            padding:20rem/$basic;
            color:#505050;
            font-size:38rem/$basic;
            box-sizing:border-box;
            line-height: 1.5;
        }
        .comment-btn{
            display: block;
            margin: 20rem/$basic auto;
            width:700rem/$basic;
            height: 99rem/$basic;
            background: url(../img/btn-bg.png) no-repeat center;
            background-size:700rem/$basic 99rem/$basic;
            text-align: center;
            line-height: 99rem/$basic;
            font-size:40rem/$basic;
            color:#fff;
            letter-spacing: 88rem/$basic;
            padding-left: 88rem/$basic;
        }
    }
    
    .comment-list {
        margin-top:85rem/$basic;
        li{
            padding:30rem/$basic 0;
            .user-icon{
                display: block;
                width:110rem/$basic;
                height: 110rem/$basic;
            }
            .comment-right{
                width:825rem/$basic;
                margin-left:40rem/$basic;
                font-size:35rem/$basic;
                .nickname{
                    color:#969696;
                    margin:0;
                }
                .comment-content{
                    margin:0;
                    color:#323232;
                    margin-top:25rem/$basic;
                    line-height: 1.5;
                    word-wrap: break-word;
                    word-break: break-all;

                }
            }
        }
    }
}

.img-detail-wrapper{
    .add-comment{padding:0 3%;}
    .comment-list{padding:0 3%;}
    .detail-author{text-align: left;}
    .detail-tit{text-align: left;}
    width:100%;
    .page{
        position: absolute;
        width:100%;
        text-align: center;
        height: 120rem/$basic;
        line-height: 120rem/$basic;
        color:#505050;
        font-size:48rem/$basic;
        z-index: 9
    }
    .detail-footer{
        // position: absolute;
        // bottom:0;
        // left:0;
        // right:0;
        // background:rgba(255,255,255,.75);
        // z-index: 9;
        padding:0 3%;
        box-sizing: border-box;
        .user-handle{
            margin-bottom:30rem/$basic;
        }
    }
    .swiper-container {
        width: 100%;
        //height: 100%;
    }
    .swiper-slide {
        height: auto;
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
      
        img{
            width:100%;
            height: auto;
        }
    }
}
.old-banner{
    width:100%;
    height:270rem/$basic;
    background: url(../img/old-banner.jpg) no-repeat ;
    background-size:100% 270rem/$basic;
    color:#fff;
    font-size:60rem/$basic;
    line-height: 270rem/$basic;
    text-align: center;
}
.old-list{
    width:100%;
    padding:0 40rem/$basic;
    box-sizing: border-box;
    li{
        position: relative;
        height: 165rem/$basic;
        padding:25rem/$basic 0 ;
        box-sizing: border-box;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height:1px;
            left:0;
            bottom:0;
            background-color:#c8c8c8;
            -webkit-transform: scale(1,.5);
            transform: scale(1,.5);
            -webkit-transform-origin: center top;
            transform-origin: center top
        }
        a{
            display: block;
            width:100%;
            height: 100%;
            .img{
                position: relative;
                width:200rem/$basic;
                height: 120rem/$basic;
                overflow: hidden;
            }
            img{
                width:200rem/$basic;
                height:auto;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%)
                // height: 120rem/$basic;
            }
            .list-content{
                width:760rem/$basic;
                overflow: hidden;
                margin-left:40rem/$basic;
                h4{
                    color:#323232;
                    font-size:42rem/$basic;
                    margin:0;
                    padding:0;
                    font-weight: normal;
                }
                .list-time{
                    color:#969696;
                    font-size:32rem/$basic;
                    margin-top:20rem/$basic;
                    height: 35rem/$basic;
                }
            }
        }
    }
}
.old-list li:last-child:after{
    height: 0;
} 

.new-wrapper{
    width:100%;
    padding:36rem/$basic;
    box-sizing:border-box;
    .title,.content{
        position: relative;
        padding-right:120rem/$basic;
        .txt-tip{
            position: absolute;
            right:20rem/$basic;;
            bottom:20rem/$basic;
            font-size:35rem/$basic;
            color:#505050;
        }
       
        
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height:1px;
            left:0;
            bottom:0;
            background-color:#c8c8c8;
            -webkit-transform: scale(1,.5);
            transform: scale(1,.5);
            -webkit-transform-origin: center top;
            transform-origin: center top
        }
        input{
            border:none;
            border-radius:0;
            outline: none;
            width:100%;
            height: 90rem/$basic;
            font-size:50rem/$basic;
            line-height: 90rem/$basic;
            color:#323232;
        }
    }
    .content{
        margin-top:120rem/$basic;
        textarea{
            border:none;
            border-radius:0;
            outline: none;
            width:100%;
            font-size:40rem/$basic;
            color:#505050;
        }
    }
    .upload-div{
        margin-top:148rem/$basic;
        .add-btn{
            width:200rem/$basic;
            height: 200rem/$basic;
            background: url(../img/add.jpg) no-repeat;
            background-size: 200rem/$basic 200rem/$basic;
            // position: relative;
            input[type="file"]{
                display: block;
                // position: absolute;
                width:200rem/$basic;
                height: 200rem/$basic;
                font-size: 0;
                border:none;
                -webkit-appearance: none;
                opacity: 0;
            }

        }
        ul{
            li{
                position: relative;
                width:200rem/$basic;
                height: 200rem/$basic;
                margin:0 50rem/$basic 50rem/$basic  0;
                border:1px solid #e0e0e0;
                .img-div{
                    width:200rem/$basic;
                    height: 200rem/$basic;
                    overflow: hidden;
                    position: relative;
                }
                img{
                    display: block;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    width:100%;
                    //height: 200rem/$basic;
                    height:auto;
                    // max-height:  200rem/$basic
                }
                video{
                    width:100%;
                    height: auto;
                }
                .delete{
                    position: absolute;
                    right:-30rem/$basic;
                    top:-30rem/$basic;
                    display: block;
                    width:60rem/$basic;
                    height: 60rem/$basic;
                    background: url(../img/close-icon.png) no-repeat;
                    background-size:60rem/$basic 60rem/$basic;
                }
            }
            .video{
                width:50%;
                height:auto;
                background:#000;
            }
            .add-li{
                border:0;
            }
        }
    }
    .btn{
        display: block;
        width:80%;
        height:100rem/$basic;
        line-height: 100rem/$basic;
        margin:60rem/$basic auto;
        background: url(../img/btn-bg.png) no-repeat center;
        background-size:700rem/$basic 100rem/$basic;
        text-align: center;
        color:#fff;
        font-size:42rem/$basic;
    }
}
.new-wrapper .upload-div ul li:nth-child(4n){
    margin-right:0
}
.video-pop{
    display: none;
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    video{
        position: absolute;
        top:50%;
        left:0;
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
    }
    .close{
        position: absolute;
        right:20rem/$basic;
        top:20rem/$basic;
        display: block;
        width:120rem/$basic;
        height: 60rem/$basic;
        line-height: 60rem/$basic;
        text-align: center;
        font-size:50rem/$basic;
        color:#fff;
        z-index: 999;
    }
}
.swiper-pop{
    display: none;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: #000;
    .close{
        position: absolute;
        right:20rem/$basic;
        top:20rem/$basic;
        display: block;
        width:120rem/$basic;
        height: 60rem/$basic;
        line-height: 60rem/$basic;
        text-align: center;
        font-size:50rem/$basic;
        color:#fff;
        z-index: 999;
    }
    .page{
        position: absolute;
        width:100%;
        text-align: center;
        height: 120rem/$basic;
        line-height: 120rem/$basic;
        color:#fff;
        font-size:48rem/$basic;
        z-index: 9
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        height: auto;
        text-align: center;
        font-size: 18px;
        background: #000;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
      
        img{
            width:100%;
            height: auto;
        }
    }
}
.play{
    display: inline-block;
    width:116rem/$basic;
    height:116rem/$basic;
    background: url(../img/play-icon.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
}
.activity-wrapper{
    #scroller{
        width:96%;
        margin:0 2%;
        ul{
            margin-top:304rem/$basic;
        }
    }
}
