$basic:108;
a:focus{outline: none;}

.rank-banner{
    width:100%;
    height:auto;
    img{
        width:100%;
        height: auto;
    }
    .banner-title{
        display: table;
        width:780rem/$basic;
        height: 120rem/$basic;
        line-height: 1.5;
        margin:0 auto;
        h4{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            em{
                display: inline-block;
                font-style: normal;
                text-align: left;
                color:#ffffff;
                font-size:50rem/$basic;
            }
        }
    }
    .time{
        margin: 0;
        color:#fff;
        font-size:35rem/$basic;
        width:100%;
        text-align: center;
        line-height: 1.5;
        margin-bottom:20rem/$basic;
    }
}
.rank-list{
    width:94%;
    margin:0 auto;
    background:#fff;
    border-radius: 5px;
    padding-bottom:44rem/$basic;
    overflow: hidden;
    ul{
        list-style: none;
        padding:0;
        margin:0;
        li{
            width:100%;
            height:136rem/$basic;
            margin-top:44rem/$basic;
            a{
                display: block;
                width:100%;
                height:100%;
            }
            .result{
                width:117rem/$basic;
                color:#333333;
                font-size:50rem/$basic;
                text-align: center;
                line-height: 136rem/$basic;
                font-style: italic;
                font-weight: bold;
            }
            .first{
                font-size:0;
                background:url(../img/1.png) no-repeat center;
                background-size:80rem/$basic 91rem/$basic;
            }
            .second{
                font-size:0;
                background:url(../img/2.png) no-repeat center;
                background-size:80rem/$basic 91rem/$basic;
            }
            .third{
                font-size:0;
                background:url(../img/3.png) no-repeat center;
                background-size:80rem/$basic 91rem/$basic;
            }
            .list-img{
                width:216rem/$basic;
                height: 136rem/$basic;
                border-radius: 5px;
                position: relative;
                border:1px solid #e0e0e0;
                overflow: hidden;
                img{
                    width:100%;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%)
                    // height:100%;
                }
            }
            .list-content {
                height: 136rem/$basic;
                width:620rem/$basic;
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                flex-direction: column;
                align-items: flex-start;
                margin:0 15rem/$basic;
                h4{
                    color:#323232;
                    font-size:38rem/$basic;
                    margin:0;
                    padding:0;
                    font-weight: normal;
                    line-height: 1.5;
                }
                .con-bottom{
                    width:100%;
                    height:44rem/$basic;
                    color:#969696;
                    font-size:32rem/$basic;
                    line-height: 44rem/$basic;
                    .author{
                        display: inline-block;
                        color:#969696;
                        max-width:448rem/$basic;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-break: break-all;
                        word-wrap: break-word;
                    }
                   .zan{
                      height:44rem/$basic;
                      display: inline-block;
                      max-width: 140rem/$basic;
                      background: url(../img/zan.png) no-repeat left center;
                      background-size:47rem/$basic 44rem/$basic; 
                      padding-left:65rem/$basic;
                   }
                }
            }
        }
    }
}
.my{
    .rank-list{
        width:100%;
    }
    .date-div{
        .date{
            position: absolute;
            top:0;
            left: 0;
            width:155rem/$basic; 
            text-align: right;
            // margin-top:44rem/$basic;
            span{
                display: block;
                text-align: right;
                width:135rem/$basic;
                margin-right:20rem/$basic;
                font-size:35rem/$basic;
                line-height: 1.2;
                color:#323232;
                box-sizing: border-box;
                em{
                    font-size:56rem/$basic;
                    font-style: normal;
                    line-height: 1.5;
                }
            }
            .year{
                font-size:22rem/$basic;
                line-height: 2
            }
         }
         ul{
           
            a{
                width:924rem/$basic;
                margin-left:155rem/$basic;
                // margin-top:24rem/$basic;
            }
            li{
                position: relative;
                height: 200rem/$basic;
                margin-top:20rem/$basic;
               .list-img{
                   width:200rem/$basic;
                   height: 200rem/$basic;
                   border:1px solid #e0e0e0;
                   border-radius: 0;
                   position: relative;
                   overflow: hidden;
                   img{
                     position: absolute;
                     top:50%;
                     left:50%;
                     transform:translate(-50%,-50%);
                     -webkit-transform: translate(-50%,-50%);
                     width:100%;
                     height:auto;
                   }
               }
               .list-content{
                   width:650rem/$basic;
                   height: 200rem/$basic;
               }

            }
            .list-content{
                h4{
                    line-height: 1.2
                }
            }
         }
         .user-handle{
             margin-bottom:10rem/$basic;
             position: relative;
             padding-right:100rem/$basic;
             span{
                width: 155rem/$basic;
                box-sizing: border-box;
                color:#787878;
                margin-left:0;
                height: 46rem/$basic;
                line-height: 46rem/$basic;
                color:#787878;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
             }
             .zan{
                 background-position:0 -596rem/$basic;
             }
             .comment{
                background-position:0 -720rem/$basic;
             }
             .transmit{
                background-position:0 -848rem/$basic;
             }
             .delete{
                position: absolute;
                top:-5rem/$basic;
                right:0;
                height: 60rem/$basic;
                width:100rem/$basic;
                z-index: 999;
                background-position:20rem/$basic -970rem/$basic;
                // height:60rem/$basic;
                // padding: 0 20rem/$basic;
                // width:100rem/$basic;
             }
             .dis-transmit{
                background-position:-228rem/$basic -848rem/$basic;
                color:#c8c8c8;
             }
         }
         .status{
             position: absolute;
             right:0;
             bottom:0;
             width:118rem/$basic;
             height: 118rem/$basic;
    
         }
         .pass{
             background-position:-150rem/$basic -443rem/$basic
         }
         .nopass{
            background-position:-150rem/$basic -960rem/$basic
         }
         .hidden{
            background-position:-150rem/$basic -670rem/$basic
         }
         .wait{
            background-position:-150rem/$basic -85rem/$basic
         }
         .fail{
            background-position:-150rem/$basic -255rem/$basic
         }
    }
    
}
